.header {
  @media (max-width: 416px) {
    background-color: $menu-white;
  }

  .logo {
    @media (max-width: 416px) {
      width: 70%;
      display: block;
      text-align: center;

      img {
        width: 150px;
      }
    }
  }
}

.menu-navbar {
  padding-left: 0;
  padding-right: 0;

  button {
    border: 0;
  }
}

.menu-item {
  margin: 0 10px;

  a {
    font-weight: bold;

    &.nav-link {
      padding: 7px 20px !important;
    }

    &:hover {
      background-color: $bg-color;
      color: $menu_item-white !important;
      border-radius: 17px;
    }
  }

  &.active {
    a {
      background-color: $bg-color;
      color: $menu_item-white !important;
      border-radius: 17px;
    }
  }
}

.menu-item {
  a {
    &.nav-link {
      @media (max-width: 416px) {
        text-align: center;
        font-weight: bold;
        padding: 23px 0 !important;
      }
    }
  }

  &.active {
    @media (max-width: 416px) {

      a {
        color: $bg-color !important;
        background-color: unset;
      }
    }
  }
}
