@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$bg-color: #b2d235;
$txt-color: #505353;
$txt-bg-color: #11114e;
$box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow-btn: inset 0px 1.5px 2px #6f8710;
$font-OpenS: "Open Sans", sans-serif;
$font-Roboto: "Roboto", sans-serif;
$bg-html: #3f6185;
$bg-laravel: #dc594c;
$bg-php: #556598;
$bg-css: #24abe2;
$bg-ruby: #e14e40;
$bg-java: #1b75bb;
$bg-header: #f8f9fa;
$bg-grey: #e5e5e5;
$btn-white: #ffffff;
$baner-linear: linear-gradient(180deg, #FFFBFB 87.5%, #E7E9EE 100%);
$menu-white: #FFFBFB;
$menu_item-white: #FEFFFF;
$box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
